@import "~taro-ui/dist/style/components/card.scss";

.comment-card{
  margin-bottom: 25px;;
  .at-card__header-title, .at-card__header-extra{
    font-size: 25px;
    color: #888;
  }
  .detail-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
  }
}
