@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/card.scss";

.list_item{
  font-size: medium;
  margin:0  20px;
  border: 1px solid #ddd;
  padding: 20px;
}
