@import "~taro-ui/dist/style/components/timeline.scss";
@import "~taro-ui/dist/style/components/icon.scss";
.depo{
  margin: 25px;
  .altime{
    .at-timeline-item{
      padding: 0 0 60px;
    }
    .at-timeline-item__content::before{
      content: "练习";
      // position: fixed;
      display: flex;
      float: right;
      // text-align: center;
      // vertical-align:middle;
      align-items: center;
      // right: 20px;
    }
  }
}
